.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules

dist/
mobile/dev-dist

raven/public/raven
raven/public/raven_v3
raven/public/node_modules
raven/www/raven.html
raven/www/raven_v3.html
*.env

apps/mobile/ios
apps/mobile/android/*
!apps/mobile/android/app
apps/mobile/android/app/*
!apps/mobile/android/app/src
apps/mobile/android/app/src/*
!apps/mobile/android/app/src/main
apps/mobile/android/app/src/main/*
!apps/mobile/android/app/src/main/AndroidManifest.xml
!apps/mobile/android/app/src/main/java
apps/mobile/android/app/src/main/java/*
!apps/mobile/android/app/src/main/java/io
apps/mobile/android/app/src/main/java/io/*
!apps/mobile/android/app/src/main/java/io/synk
apps/mobile/android/app/src/main/java/io/synk/*
!apps/mobile/android/app/src/main/java/io/synk/app
apps/mobile/android/app/src/main/java/io/synk/app/*
!apps/mobile/android/app/src/main/java/io/synk/app/MainApplication.kt
apps/mobile/.expo

apps/web/.env.local
