.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules

dist/
mobile/dev-dist

# Ignore public folder EXCEPT raven (pre-built assets)
raven/public/*
!raven/public/raven/
!raven/public/js/
!raven/public/.gitkeep
*.env

apps/mobile/ios
apps/mobile/android/*
!apps/mobile/android/app
apps/mobile/android/app/*
!apps/mobile/android/app/src
apps/mobile/android/app/src/*
!apps/mobile/android/app/src/main
apps/mobile/android/app/src/main/*
!apps/mobile/android/app/src/main/AndroidManifest.xml
!apps/mobile/android/app/src/main/java
apps/mobile/android/app/src/main/java/*
!apps/mobile/android/app/src/main/java/io
apps/mobile/android/app/src/main/java/io/*
!apps/mobile/android/app/src/main/java/io/synk
apps/mobile/android/app/src/main/java/io/synk/*
!apps/mobile/android/app/src/main/java/io/synk/app
apps/mobile/android/app/src/main/java/io/synk/app/*
!apps/mobile/android/app/src/main/java/io/synk/app/MainApplication.kt
apps/mobile/.expo

apps/web/.env.local